*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}


body{
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


.menu-bar{
    background: rgb(0, 100, 0);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}


.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}